{% extends "base.html" %}
{% load static %}
{% block content %}



<div class="jumbotron text-center">
    <div class="container">
        {% if user.is_authenticated %}
        <h1>Hi {{ user.username }}!</h1>

        <h1> Drinks App</h1>
        <h2>This app allows you to add new people and drinks, then create a order. </h2>
        <ul>
            <li><a href="{% url 'new_person' %}">Add a new Person</a></li>
            <li><a href="{% url 'new_drink' %}">Add a new Drink</a></li>
            <li><a href="{% url 'display_drinks' %}">See the drinks you already have on the menu</a></li>
            <li><a href="{% url 'display_people' %}">See the people you already have</a></li>
        </ul>
        {% endif %}
<div>
    testing the drinks page
</div>

<!-- {% for drink in drinks %}
    <li>{{ drink }}</li>
{% endfor %} -->
</div>
</div>
{% endblock content %}