{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="jumbotron text-center">
    <div class="container">
        <h1> Drinks App</h1>
        <h2>This app allows you to add new people and drinks, then create a order. </h2>
        <ul>
            <li><a href="{% url 'new_person' %}">Add a new Person</a></li>
            <li><a href="{% url 'new_drink' %}">Add a new Drink</a></li>
        </ul>
<div>
    testing the drinks page
</div>

<!-- {% for drink in drinks %}
    <li>{{ drink }}</li>
{% endfor %} -->
</div>
</div>
{% endblock content %}