{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div style="background-image: url('top_background.jpg')">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h2>Welcome!</h2>
    <p>On this website you will find some of my project ideas hosted online using Django. I wanted to take my code that could run locally and see if it could be transferred to a different platform, and it
      is still a work in progress. But while you are here, enjoy! </p>
    <a type="button" href="https://www.linkedin.com/in/alistair-cooper-6313691b6/"><img src="{% static 'linkedin.png'%}"  height=150px width=150px></a>
    <a type="button" href="https://github.com/alial95"><img src="{% static 'github_logo.png'%}" height=150px width=150px></a>
  </div>
</div>
</div>
{% endblock %}
