{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container">
        <h1>Pokedex Game</h1>
        <p>A fun application that allows the user to select their favourite pokemon and recieve
            some interesting information back!
        </p>
    </div>
</div>
<div class="alert alert-success text-center" role="alert">
    Here are some snapshots of the code and the application in action! 
</div>
<hr>
<div class="container">
    <a>
      <img src="{% static 'lang-logo.png'%}">
    </a>
</div>
<hr>
{% endblock content %}