{% extends "base.html" %}
{% load static %}
{% block content %}
<div class='jumbotron text'>
    <div class='container'>
{% if person_list %}
<ul>
    {% for person in person_list %}
        {% if person.owner == user.username%}
        <li> (First Name: {{ person.first_name }})</li>
        <li> (Last Name: {{ person.last_name }})</li> 
        <li>(Owner: {{ person.owner}})</li>
        {% else %}
        <p> You havent added any people yet. </p>
        {% endif %}
        
    {% endfor %}
</ul>
{% else %}
 <p> No People available</p>
{% endif %}
</div>
</div>


{% endblock content %}