{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="jumbotron text-center">
<form method='post'> 
    {% csrf_token %}
    {{ form.as_p }}
    <div class="input-group">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit" name="area_name" placeholder="Search">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
    </div>
</form>
<div class="row">
    {% if Date and Area and Cases and TotalCases %}
    <div class="col-md-6 col-md-offset-3">
      <h3>Date : {{Date}}</h1>
        <h5>Area : {{Area}}</h5>
        <h5>Cases : {{Cases}}</h5>
        <h5>TotalCases: {{TotalCases}} </h5>

    </div>
    {% endif %}
</div>

<div>
  {% if data %}
  <img src="data:image/png;base64,{{ data }}">
</div>
  {% endif }
</div>
{% endblock content %}